//@import "https://fonts.googleapis.com/icon?family=Material+Icons";



p {
  color: #2b303b;
}

b{
  color: #2b303b;
}

h1 {
  color: #369;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 250%;
}

html {background-color: rgba(219, 219, 219, 0.54);}
.wrapper{
  margin: 0;
  height: 100vh;
  width: 100vw;

}

@media screen and (min-width: 601px) {
  .toolbar {
    text-align: center;
    align-content: center;
    position: fixed;
    top: 0;
    left: 0;
    color: white;

    background-color: #008aff;
  }
}
@media screen and (max-width: 600px) {
  .toolSpan, .results-found, .searchHistory, #rightcolumn{
    display: none;

  }
}



@media screen and (min-width: 601px) {
  .search-toolbar {
    width: 100vw;
    position: fixed;
    top: 7%;

    left: 0;
    color: white;
    z-index: 1;

    background-color: #fcfaff;
  }
}

@media screen and (max-width: 600px) {
  .search-toolbar {
    width: 100vw;
    position: fixed;

  top: 0;
    left: 0;
    color: white;
    z-index: 1;

    background-color: #fcfaff;
  }
}

@media screen and (min-width: 601px) {
  .box {
    padding-top: 9%;
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .box {
    padding-top: 15%;
    width: 100%;
  }
}

#leftcolumn, #rightcolumn {
  ///*border: 1px solid white;*/
  float: left;
  height: 100vh;
  color: white;
}

@media screen and (min-width: 601px) {
  #leftcolumn {
    width: 80%;
    /*background-color: #111;*/
  }

  #rightcolumn {
    width: 20%;
    padding-top: 1%;
  }
}

@media screen and (max-width: 600px) {
  #leftcolumn {
    width: 100%;
    padding-top: 8%;
    /*background-color: #111;*/
  }

  #rightcolumn {
    width: 50%;
    padding-top: 9%;
    /*background-color: #777;*/
  }
}



.listdemoBasicUsage md-divider {
  margin-top: 15px;
  margin-bottom: 0; }

/*Desktop Search Bar*/
@media screen and (min-width: 601px) {
  .search-box {
    position: sticky; top:0;
    padding-top: 0.5%;
    padding-left: 1%;
    width: 50%;
    margin-right: 2%;
    vertical-align: middle;
    white-space: nowrap;
    /*border: 3px solid blue;*/
  }
}

/*Mobile Search Bar*/
@media screen and (max-width: 600px) {
  .search-box {
    position: sticky; top:0;
    padding-top: 0.5%;
    padding-left: 1%;
    width: 98%;
    vertical-align: middle;
    white-space: nowrap;
    /*border: 3px solid blue;*/
  }
}

.search-box input#search{
  -webkit-appearance: none;
  width: 100%;
  height: 50px;
  background: #4b5261;
  border: none;
  font-size: 10pt;
  color: #f5faff;
  padding-left: 45px;
  -webkit-border-radius: 8px; /* Pad the search query */
  -moz-border-radius: 8px;
  border-radius: 8px;
}

.search-box input#search::-webkit-input-placeholder {
  color: #f3f3f3;
}

.search-box input#search:-moz-placeholder { /* Firefox 18- */
  color: #65737e;
}

.search-box input#search::-moz-placeholder {  /* Firefox 19+ */
  color: #65737e;
}

.search-box input#search:-ms-input-placeholder {
  color: #65737e;
}

 /*input[type="search"]::-webkit-search-cancel-button {*/

  /*!* Remove default *!*/
  /*-webkit-appearance: none;*/

  /*!* Now your own custom styles *!*/
  /*height: 20px;*/
  /*width: 20px;*/
  /*border-radius: 30%;*/
  /*background: red;*/
  /*margin-right: 3%;*/
  /*!* Will place small red box on the right of input (positioning carries over) *!*/

/*}*/




/* Voice record button */

@media screen and (min-width: 601px) {
  .voice-searchIcon-container {
    position: fixed;
    top: 7%;
    padding-left: 54%;
    width: 5em;
    height: 3em;
    z-index: -1;

  }
}


@media screen and (max-width: 600px) {
  .voice-searchIcon-container {
    z-index: +2;
  }
}

.start-recording{
  position:relative;
  margin: 5% auto;
  background-color:#FE2222;
  border-radius:50%;
  width:3.5em; height:3.5em;
}
:before, :after{
  content:'';
  position:absolute;
  background-color:#fff;
}
.start-recording:after{
  top:30%; left:43%;
  height:15%; width:14%;
  border-top-left-radius:50%;
  border-top-right-radius:50%;
}
.start-recording:before{
  top:40%; left:43%;
  height:15%; width:14%;
  border-bottom-left-radius:50%;
  border-bottom-right-radius:50%;
}
.mc{
  position:absolute;
  top:50%; left:37%;
  height:24%;
  width:26.5%;
  overflow:hidden;
}
.mc:before{
  bottom:50%;
  width:100%; height:100%;
  box-sizing:border-box;
  border-radius:50%;
  border:0.5em solid #fff;
  background:none;
}
.mc:after{
  top:50%; left:40%;
  width:20%; height:25%;
}


.stop-recording{
  position:relative;
  /*margin: 5% auto;*/
  background-color: #40fe10;
  border-radius:57%;
  width:3.5em; height:3.5em;
}







.row {
  margin-bottom: 20px;
}

.questionTitle{

  color: #050a77;
  font-size: x-large;
  text-align: center;

}
.questionText{
  font-size: large;
  padding: 2%;
}

.answerText{
  padding: 2%;
}

.searchHistory{
  padding-right: 1%;
}

@media screen and (max-width: 600px) {

  .searchHistoryItem {
    position: absolute;
    visibility: hidden;
    margin: 3%;
    border-radius: 9%;
    text-align: center;

  }

  #recentSearchesHeader {
    position: absolute;
    visibility: hidden;
    color: #f3f3f3;
    padding-left: 25%;

  }
}

  mat-toolbar-row {
    justify-content: space-between;

  }

@media screen and (min-width: 600px) {
  .mat-raised-button {
    padding: 1%;
    margin: 1%;
  }
}




.center {
  flex: 1 1 auto;
  text-align: center;
}

.mat-card-content { white-space: normal; }
.mat-card {
  margin: 1%;
}

.result-count{
  float: right;
  font-size: 12px;
  color: #f9f9f9;
  background-color: rgb(228, 227, 229);

}

.favourite{
  float: right;
}

.mat-card-content{
  padding-top: 3%;
}
